body {
    text-align: center;
    color: white;
    font-size: 20px; /* Adjust font size as needed */
}

.operation-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px; /* Adjust padding for larger buttons */
    cursor: pointer;
    font-size: 20px; /* Match font size with body */
}

.operation-button:disabled {
    background-color: gray;
}